<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ALM Octane configuration-->
    <add key="webAppUrl" value="https://something.microfocus.com"/>
    <add key="userName" value="username"/>
    <add key="password" value="password"/>
    <add key="sharedSpaceId" value ="12345"/>
    <add key="workspaceId" value ="1234"/>
    <add key="userId" value ="12345"/>
    <!-- Parser configuration-->
    <add key="folderpath" value ="your\sdf\sdf"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
